# Build dirs and artifacts
/build
/dist
/target
/*.mltbx
/coverage/

# Editor and IDE droppings
.idea
~*
*.m~
/.factorypath
.classpath
/.ijwb/
# VS Code stuff
.project
.settings

# Doc site server droppings
_site
.sass-cache
.jekyll-cache
Gemfile.lock

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Runtime and debug droppings
matlab-crash-dump*
*.pyc
__pycache__
/venv/
*.log
.ipynb_checkpoints
hs_err_pid*
#/test-output/

# Editor, OS, and file browser droppings
*.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
